<div class="card" style="width: 18rem;">

    <div class="card-body">
        <h5 class="card-title">{{games.name}}</h5>
        <p class="card-text">Genre: {{games.genre}}</p>
        <p class="card-text">Rating: {{games.rating}}</p>
        <a href="#" class="btn btn-primary">more info</a>
    </div>
</div>
