<h1>The 3 top platforms for pc gaming</h1>
{{#each platforms}}
<div class="card" style="width: 18rem;">
 
 <div class="card-body">
<h5 class="card-title">{{name}}</h5>
<div>Rating: {{rating}}</div>
<div>Date released:{{dateC}}</div>
   
   <a href="/platforms/{{_id}}" class="btn btn-primary">visit platform games</a>
 </div>
</div>


{{/each}}